/* 基础设置 */
.container {
    width: 1200px;
    margin: 0 auto;
}

.main-content {
    margin-top: 10px;
}

h2 {
    margin-top: 10px;
    color: black;
    font-size: 30px;
}

h3 {
    margin-top: 10px;
    color: black;
    font-size: 20px;
}

.responsive-image {
    max-width: 100%; /* 保持图片宽度不超过其容器宽度 */
    height: auto; /* 保持图片的原始宽高比 */
    cursor: pointer;
}

.text {
    margin-top: 10px;
    color: black;
    font-size: 15px;
}

.text-frame {
    margin-top: 10px;
    padding: 10px;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: solid black;
}

/* #region秒杀区start*/
.coreservice {
    margin-top: 10px;
}
.coreservice img {
    width: 392px;
    height: 400px;
    margin-right: 8px;
    cursor: pointer;
}
.coreservice img:last-child {
    margin-right: 0;
}
.coreservice div.item_3 {
    width: 392px;
    height: auto;
    float: left;
    margin-right: 8px;
    cursor: pointer;
}
.coreservice div.item_3:last-child {
    margin-right: 0;
}


.serviceadvantage img {
    width: 292px;
    height: 292px;
    margin-right: 8px;
    cursor: pointer;
}
.serviceadvantage img:last-child {
    margin-right: 0;
}
.serviceadvantage div.item_4 {
    width: 292px;
    height: auto;
    float: left;
    margin-right: 8px;
    object-fit: cover;
    cursor: pointer;
}
.serviceadvantage div.item_4:last-child {
    margin-right: 0;
}
/* #endregion秒杀区end*/


